/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Variáveis globais */
:root {
    --primary-color: #3A415A;
    --secondary-color: #242432;
    --hover-color: #9188ff;
    --font-color: white;
    --font-color-secondary: #FDFDFD;
    --font-size-large: 28px;
    --border-color: white;
}

/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.favicon {
    width: 5px;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #200a26;
    color: var(--font-color);
    background-image: url(img/Fundo.png);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #200A26;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CSS do dropdown de idiomas */
.dropdown {
    display: none; /* Oculta as opções inicialmente */
    position: absolute;
    top:58px; /* Ajuste conforme necessário */
    right: 62px; /* Ajuste conforme necessário */
    background-color: #a175af;
    border: 1.5px solid black;
    z-index: 100;
    width: 130px; /* Ajuste a largura conforme necessário */
    max-height: 200px; /* Altura máxima para o dropdown */
    overflow-y: auto; /* Adiciona barra de rolagem se necessário */
    overflow-x: hidden; /* Oculta rolagem horizontal */
}
.dropdown::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
    height: 20px;
}

.dropdown::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor do fundo da barra de rolagem */
    border-radius: 10px; /* Borda arredondada do fundo */
}

.dropdown::-webkit-scrollbar-thumb {
    background: #7b6f7e; /* Cor do "polegar" da barra de rolagem */
    border-radius: 10px; /* Borda arredondada do "polegar" */
    height: 70px; /* Aumente o valor conforme necessário */
}

.dropdown::-webkit-scrollbar-thumb:hover {
    background: #584757; /* Cor do "polegar" ao passar o mouse */
    border-radius: 10px; /* Borda arredondada do "polegar" */
}

.dropdown .language-option {
    text-align: left;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: -10px;
    word-spacing: -10px; /* Ajuste o valor conforme necessário */
    transition: background-color 0.2s ease; /* Suaviza a transição do hover */
    font-style: normal; /* Garante que o texto não fique em itálico */
}

.dropdown .language-option:hover {
    background-color: #cf91e4; /* Efeito de hover */
    text-decoration: underline; /* Sublinhado no hover */
    font-style: normal; /* Garante que o texto não fique em itálico ao passar o mouse */
}

.no-underline {
    text-decoration: none;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #200A26;
    width: 100vw;
}

.logo {
    display: flex;
    align-items: center;
    text-align: center;
    display: block;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff; 
    line-height: 20px;
    margin-top: 0px;
    margin-left: -10px;
    margin-bottom: 4px;
}

.logo img {
    height: 65px;
    width: 60px;
    margin-right: 10px;
    padding-bottom: -10px;
    display: block;  /* Garante que a imagem seja um bloco separado */
    margin: 0 auto;  /* Centraliza a imagem horizontalmente */
}

.logo span {
    color: white;
    font-size: 14px;
    text-align: center;
}
/* Estiliza o container de busca */
.search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 20px; /* Espaço entre a barra de busca e o menu */
}

/* Estiliza a barra de busca */
.search-bar {
    background-color: #fff;
    border: none;
    padding: 13px 30px 14px 8px; /* Dá espaço para o ícone no lado direito */
    color: #000;
    margin-left: 20px;
    border-radius: 5px;
    width: 203px;
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}

/* Estiliza o ícone de lupa */
.search-icon {
    position: absolute;
    right: 10px; /* Posição do ícone dentro do container */
    color: #c0c0c0;
    font-size: 15px;
}


::placeholder{
    color: #c0c0c0;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu {
    display: flex;
    gap: 30px; /* Maior espaçamento entre os links */
    flex-grow: 1; /* Faz o menu crescer para o centro */
    justify-content: center; /* Centraliza os links no meio */
}

.menu a {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-decoration: underline; /* Adiciona sublinhado */
    font-weight: lighter;
    font-size: 28px;
    position: relative;
    transition: color 0.3s ease; /* Suaviza a transição de cor */
}

.menu a.active {
    text-align: center;
    color: #9188ff; /* Cor roxa quando ativo */
}

.menu a:hover {
    color: #b77eca; /* Mesmo tom de roxo ao passar o mouse */
    text-decoration: underline; /* Mantém o sublinhado */
}

.icons {
    display: grid;
    grid-template-columns: repeat(2, auto); /* Coloca os ícones e botões em duas colunas */
    gap: 10px; 
    align-items: center;
    justify-items: center;
}

.btn {
    background-color: #b77eca;
    color: white;
    border: none;
    padding: 5px 10px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px; 
    display: flex;
    align-items: center; /* Alinha verticalmente o texto ao centro */
    justify-content: center; /* Alinha horizontalmente o texto ao centro */
    height: 25px; /* Ajuste a altura do botão conforme necessário */
    width: auto; /* Ajusta a largura conforme o conteúdo */
}

.btn:hover {
    background-color: #e1b2ff;
    color: white;
    transition: color 0.3s ease;
}

.mdi {
    color: #c0c0c0;
    font-size: 25px;
    font-weight: normal; /* Define o peso da fonte como normal */
    cursor: pointer;
}

.mdi:hover {
    color: #b77eca;
}

.no-underline {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.header h2 {
    text-align: left;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: -100px;
}

.game-details {
    display: flex;
    gap: 20px;
}

.game-details img {
    width: 500px;
    height: auto;
    margin-left: -90px;
}

.resultado-pesquisa {
    margin-left: -90px;
}

.relacionados {
    margin-left: -90px;
}

.details {
    max-width: 300px;
}

.details h1 {
    font-size: 45px;
}

.details p {
    font-size: 28px;
    margin-top: 20px;
}

.details button {
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #4F1E64;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 3px;
    width: 120%;
    margin: 10px 1px;
    margin-bottom: 10px;

}

.details button:hover {
    background-color: #b77eca;
}

/* Estilo para a barra de rolagem do input range */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #4F1E64;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 60%;
    background: white;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #fff;
    border-radius: 5px;
}

.price-filter {
    max-width: 250px;
    background-color: #4F1E64;
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
    width: 317px;
    height: 189px;
    top: 233px;
    left: 1094px;
    gap: 0px;
    opacity: 0px;

}

.price-filter label {
    font-size: 22px;
    color: white;
}

.price-filter input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px; /* Ajuste a altura da barra */
    background: #b77eca;
    outline: none;
    border-radius: 5px;
    margin-top: 30px;
    position: relative;
}

/* Estilização do thumb para que fique centralizado na barra */
.price-filter input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #b77eca;
    cursor: pointer;
    position: relative;
    top: -4px; /* Centraliza o thumb na barra */
}

.price-values {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: white;
    margin-top: 5px;
}

.related-games {
    margin-top: 40px;
    margin-bottom: 100px;
}

.related-games h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.games {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.game {
    text-align: left;
    margin-right: -110px;
}

.game img {
    width: 350px;
    height: auto;
    margin-left: -90px;
}

.p {
    margin-left: -90px;
}

.game p {
    margin: 10px 0;
    font-size: 20px;
    margin-left: -90px;
}

.phasmophobia {
    background-color: #4F1E64;
    border-radius: 3px;
    width: 139px;
}

/* Footer */
footer {
    padding: 20px 0;
    background-color: #200A26;
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-top: -70px;
    position: fixed;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os ícones */
    margin-bottom: 10px; /* Espaçamento abaixo dos ícones */
}

.social-icons a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #b77eca; /* Cor ao passar o mouse nos ícones */
}

footer p {
    font-size: 16px;
    margin: 0;
}
